@media screen and (max-width: 950px)
  
  .full-info 
    display: flex
    flex-wrap: wrap
    .info-tabs
      display: flex
      flex-direction: column
      flex-basis: 100%
      align-items: start
      a
        margin-top: 10px
        line-height: 21px
  .full-content
    flex-wrap: wrap
  .subscribe    
    flex-basis: 100%
